body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
}

h2 {
  font-size: 22px;
}

.author {
  color: gray;
  font-weight: normal;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  margin-right: 8px;
}
.menu a {
  background: #eee;
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 28px; }
.title, h1 {text-align: center;}

footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

figcaption, .caption, .caption-up-a-little {
  text-align: center;
  color: #757575;
}

.caption {
  margin-top: 10px;
  margin-bottom: 10px;
}

.caption-up-a-little {
  margin-top: -30px;
}

.vis {
  margin-top: 20px;
}

.left {
  width:49%;
  float:left;
}

.right {
  width:49%;
  float:right;
}

.wide {
  width: 84vw;
  position: relative;
  left: 44%;
  right: 44%;
  margin-left: -40vw;
  margin-right: -50vw;
  overflow:auto;
  padding: 1rem; 
  margin-top: 1rem;
  margin-bottom: 1em;
}

.fullwidth {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.center {
  margin: 0 auto;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
